html,body,p{
    margin:0;
    padding:0;
}
body{
    background-color:whitesmoke;
    /*position:relative;*/
    width:100%;
    height:100%;
}
.content-wrap{
    width:991px;
    margin: 0 auto;
}
.nav{
    /*padding:24px;*/
    margin-left:auto;
    margin-right:auto;
    /*background-color: #5940aa;*/
    /*background-color: #fd453e;*/
    background-color: #31b4e7;
    color:whitesmoke;
    display:block;
    float:left;
    width:100%;
}
.nav-bar{
    width:100%;
    display:block;
    float:left;
}
.w-nav-btn{
    display:none;
}
.w-nav-btn-right{
    float:right;
}
.w-nav-btn-left{
    float:left;
}
.w-logo{
    float:left;
    width:150px;
    margin:12px;
    margin-right:128px;
    
}
.h-logo{
    height:48px;
}
.divide-line{
    float: left;
    height: 1px;
    width: 100%;
    margin: 8px auto;
    background-color: whitesmoke;
    opacity: .5;
}
.divide-line-display{
    display: none;
}
.plate-name{
    color: whitesmoke;
    font-size:14px;
}
.plate-btn{
    display:block;
    position:relative;
    padding:12px;
    
}
.plate-btn>div{
    /*float:left;*/
    width:44px;
    height:44px;
    margin-left:auto;
    margin-right:auto;
}
.plate-btn>p{
    display:block;
    text-align:center;
    margin:8px auto;
    margin-bottom:0;
}
.nav i{
    float:left;
    width:20px;
    height:20px;
}
.nav-bar>p{
    text-align:center;
    padding-top:24px;
    padding-bottom:24px;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
}
.plate-title-display{
    display:none;
}

.menu-btn:hover{
    background-color: #0096d0;
}
.menu-btn:active{
    background-color: transparent;
}
    
.icon-menu{
    background-image: url('../assets/ic_menu_72px@3x.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
.icon-plate{
    background-image: url('../assets/piz.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
.logo{
    background-image: url('../assets/logo.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
@media (max-width:991px) {
    .w-nav-btn{
        display:none;
    }
    .nav-group{
        width:100%;
        height: 100%;
    }
    .nav-group-display{
        display: block ;
    }
    .plate-title-display{
        display:none;
    }
    .content-wrap{
        width:991px;
    }
    .divide-line-display{
        display: none;
    }
}
@media (min-width: 767px) and (max-width: 990px){
    .w-nav-btn{
        display:none;
    }
    .nav-group{
        width:100%;
        height: 100%;
    }
    .nav-group-display{
        display: block ;
    }
    .plate-title-display{
        display:none;
    }
    .content-wrap{
        width:100%;
    }
    .divide-line-display{
        display: none;
    }
}
@media (min-width: 465px) and (max-width: 766px){
    .w-nav-btn{
        display:block;
    }
    .nav-group{
        position: absolute;
        margin-top: 68px;
        padding: 0 12px;
        width:204px;
        height: 100%;
        background-color:#31b4e7;
        border-top: 1px whitesmoke solid;
    }
    .nav-group-display{
        display: none ;
    }
    .plate-title-display{
        display:block;
    }
    .content-wrap{
        width:100%;
    }
    .menu-btn{
        position:absolute;
        padding:24px;
        margin-left:0;
        margin-top:0;
        float:left;
    }
    .content-display{
        display: none;
    }
    .divide-line-display{
        display: block;
    }
    .w-nav-btn-middle{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 0px) and (max-width: 464px){
    .w-nav-btn{
        display:block;
    }
    .nav-group{
        position: absolute;
        margin-top: 68px;
        padding: 0 12px;
        width:204px;
        height: 100%;
        background-color:#31b4e7;
        border-top: 1px whitesmoke solid;
    }
    .nav-group-display{
        display: none;
    }

    .plate-title-display{
        display:block;
    }
    .content-wrap{
        width:100%;
    }
    .menu-btn{
        position:absolute;
        padding:24px;
        margin-left:0;
        margin-top:0;
        float:left;
    }
    .content-display{
        display: none;
    }
    .divide-line-display{
        display: block;
    }
    .w-nav-btn-middle{
        margin-left: auto;
        margin-right: auto;
    }
}